{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<div class="container clearfix mt-5 mb-5">
    <div class="col-md-5 m-auto alert alert-light rounded-lg p-3">
        <h1 class="text-center mb-5">MODIFIER<br> MON MOT DE PASSE </h1>

        {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-success m-auto">
            <i class="fas fa-check"></i>
            <b>ENREGISTRER</b></button>
        {{form_end(form)}}
    </div>
</div>

{% endblock %}